<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    
    <!-- Tuan's Library -->
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/hamburgers.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.css">
    <link rel="stylesheet" href="css/awesome.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <!-- Custom -->
    <link rel="stylesheet" href="css/custom.css">
    <link rel="stylesheet" href="css/custom_reponsive.css">
    <link rel="stylesheet" href="css/course.css">
    <!-- -------------------------------------------------------- -->
    <link rel="stylesheet" href="css/index.css">

    <script src="https://use.typekit.net/fbl0lhq.js"></script>
    <script src="js/circletype.min.js"></script>
    <script src="js/news.js"></script>
    
    
</head>
<body>
    <script>
        window.onload = function(){
            var something                 = document.getElementById("something");
            var video                     = document.getElementById("bg-video");
            //var overlay                   = document.getElementById("overlay-video");
            var head                      = document.getElementById("header");
            var vid                       = document.getElementById("video-contain");
            something.style.marginTop     = video.offsetHeight + "px";
            //overlay.style.height          = video.offsetHeight + "px";
            vid.style.marginTop           = head.offsetHeight + "px";
            renderDemo();
        }

        function renderDemo() {
            new CircleType(document.getElementById('bending-text'))
                .radius(300);
        }
    </script>
    <section id="header" class="fixed-top">
        <div class="desktop_menu d-none d-lg-block">
            <div class="container-fluid" style="padding-left: 70px">
                <div class="row w-100">
                    <div class="col-3 py-2">
                        <img class="logo" src="img/KminLogo.png" alt="">
                    </div>
                    <div class="col-9 text-right my-auto">
                        <nav class="d-inline-block">
                            <ul class="main_menu">
                                <li>
                                    <a href="#">Giới thiệu</a>
                                </li>
                                <li>
                                    <a href="#">Lớp học <i class="fas fa-caret-down"></i></a>
                                    <ul class="sub_menu">
                                        <li><a href="#">Tư duy và kỹ năng lập trình</a></li>
                                        <li><a href="#">Làm chủ các ngôn ngữ lập trình</a></li>
                                        <li><a href="#">Làm chủ các ngôn ngữ lập trình</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Đăng ký</a></li>
                                
                                <li><a href="#">Tài liệu</a></li>
                                <li><a href="#">Showroom</a></li>
                                <li><a href="#">Tin tức</a></li>
                                <li><a href="#">Học free</a></li>
                                <li><a href="#">Online test</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="tablet_menu d-block d-lg-none">
            <div class="container">
                <div class="row py-2">
                    <div class="col-4"></div>
                    <div class="col-4 text-center">
                        <img class="logo" src="img/KminLogo.png" alt="">
                    </div>
                    <div class="col-4 text-right">
                        <div class="hamburger hamburger--elastic" tabindex="0" aria-label="Menu" role="button" aria-controls="navigation">
                            <div class="hamburger-box">
                                <div class="hamburger-inner"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <nav class="mobile_nav">
                    <ul class="main_menu">
                        <li>
                            <a href="#">Giới thiệu</a>
                        </li>
                        <li>
                            <a href="#">Lớp học <i class="fas fa-caret-down"></i></a>
                            <ul class="sub_menu">
                                <li><a href="#">Tư duy và kỹ năng lập trình</a></li>
                                <li><a href="#">Làm chủ các ngôn ngữ lập trình</a></li>
                                <li><a href="#">Làm chủ các ngôn ngữ lập trình</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Đăng ký</a></li>
                        <li><a href="#">Tài liệu</a></li>
                        <li><a href="#">Showroom</a></li>
                        <li><a href="#">Tin tức</a></li>
                        <li><a href="#">Học free</a></li>
                        <li><a href="#">Online test</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>
    <!-- END-HEADER -->
    <section id="video" style="top: 100px">
        <div class="contain" id="video-contain" style="height: 200px; overflow: hidden;">
            <video id="bg-video" autoplay muted loop>
                <source src="video/kmin2.mp4" type="video/mp4">
            </video>
        </div>
        <div class="text-on-video">
            <span id="bending-text">THÀNH QUẢ</span>
            <span class="text1">của</span>
            <span class="text-2">HỌC VIÊN TẠI KMIN</span>
            <span class="text3">Học tập tại Kmin các bạn sẽ có được sản phẩm của riêng mình</span>
            <a href="#" class="redirect-classes">Các lớp học</a>
            <a href="#" class="redirect-product">Xem chi tiết
            </a>
            <div class="arrow-content">
                <div id="arrow1"></div>
                <div id="arrow2"></div>
                <div id="arrow3"></div>
            </div>
        </div>
    </section>
    <!-- END-VIDEO -->
    <div id="something"></div>
    <section id="kmin-quote" class="container-fluid">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-4">
                <span class="line"></span>
                <i class="fas fa-quote-left" style="font-size: 20px"></i>
            </div>
        </div>
        <div class="row" style="margin-top:40px;">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <span id="quote">Với những gì bạn đạt được, mức đầu tư vào khóa học là vô cùng xứng đáng.</span>
            </div>
        </div>
        <div class="row" style="margin-top:30px;">
            <div class="col-sm-9"></div>
            <div class="col-sm-3">
                <span id="writer">- Học viện KMIN -</span>
            </div>
        </div>
    </section>
    <!-- END-KMIN-QUOTE -->
    <section id="open-classes" class="container-fluid">
        <div class="section-title">
            Các lớp đang mở
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-4 class">
                        <div class="container-fluid" style="padding: 0 0 20px 0">
                            <div class="class-image" style="background-image: url('img/banner.jpg');"> </div>
                            <div class="class-name">
                                Tư duy và kỹ năng lập trình
                            </div>
                            <div class="class-intro">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                            <div class="class-view text-center">
                                <a href="#">Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 class">
                        <div class="container-fluid" style="padding: 0 0 20px 0">
                            <div class="class-image" style="background-image: url('img/banner.jpg');"> </div>
                            <div class="class-name">
                                Tư duy và kỹ năng lập trình
                            </div>
                            <div class="class-intro">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                            <div class="class-view text-center">
                                <a href="#">Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 class">
                        <div class="container-fluid" style="padding: 0 0 20px 0">
                            <div class="class-image" style="background-image: url('img/banner.jpg');"> </div>
                            <div class="class-name">
                                Tư duy và kỹ năng lập trình
                            </div>
                            <div class="class-intro">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                            <div class="class-view text-center">
                                <a href="#">Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="row" style="margin-top: 100px">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-4 class">
                        <div class="container-fluid" style="padding: 0 0 20px 0">
                            <div class="class-image" style="background-image: url('img/banner.jpg');"> </div>
                            <div class="class-name">
                                Tư duy và kỹ năng lập trình
                            </div>
                            <div class="class-intro">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                            <div class="class-view text-center">
                                <a href="#">Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 class">
                        <div class="container-fluid" style="padding: 0 0 20px 0">
                            <div class="class-image" style="background-image: url('img/banner.jpg');"> </div>
                            <div class="class-name">
                                Tư duy và kỹ năng lập trình
                            </div>
                            <div class="class-intro">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                            <div class="class-view text-center">
                                <a href="#">Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 class">
                        <div class="container-fluid" style="padding: 0 0 20px 0">
                            <div class="class-image" style="background-image: url('img/banner.jpg');"> </div>
                            <div class="class-name">
                                Tư duy và kỹ năng lập trình
                            </div>
                            <div class="class-intro">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                            <div class="class-view text-center">
                                <a href="#">Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </section>
    <!-- END-OPEN-CLASSES -->
    <section id="kmin-earn" class="container-fluid">
        <div class="section-title">
            Điểm khác biệt khi học với Kmin
        </div>
        <div class="board">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="sticky-note purple">
                                <i></i><i></i><i></i><i></i><i></i><br>
                                <span>#1 &nbsp S.A</span>
                                <p>Có đội ngũ S.A (Student Assistant) luôn bên cạnh và sẵn sàng giúp đỡ bạn trên con đường chinh phục kiến thức</p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="sticky-note blue">
                                <i></i><i></i><i></i><i></i><i></i><br>
                                <span>#2 &nbsp Tận tâm</span>
                                <p>Giảng viên không biết hết mọi điều nhưng luôn sẵn sàng chia sẻ hết những gì họ có. Đơn giản vì họ làm việc tận tâm, tận lực, tận khả năng.</p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="sticky-note grey">
                                <i></i><i></i><i></i><i></i><i></i><br>
                                <span>#3 &nbsp Thời gian</span>
                                <p>Linh động, tùy vào sự sắp xếp của học viên. Một tuần học 2 buổi trên lớp và các giờ hướng dẫn làm bài tập và đồ án.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 50px">
                <div class="col-sm-2"></div>
                <div class="col-sm-4">
                    <div class="sticky-note yellow">
                        <i></i><i></i><i></i><i></i><i></i><i></i><br>
                        <span>#3 &nbsp Sản phẩm thực tiễn</span>
                        <p>Phương pháp giảng dạy: Project base learning (chú trọng vào việc giúp học viên tạo ra sản phẩm thực tiễn, các sản đó có thể được triển khai ra thực tế). Và Insight learning (Học từ gốc rễ của vấn đề).</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="sticky-note red">
                        <i></i><i></i><i></i><i></i><i></i><i></i><br>
                        <span>#5 &nbsp Các lợi ích khác</span>
                        <p>Đến với lớp học bạn không chỉ được học kiến thức chuyên môn mà còn được tham gia các buổi offline, giao lưu, phát triển kỹ năng mềm, định hướng tương lai.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END-EARN -->
    <section id="kmin-think">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-4">
                    <span class="line" style="background: #fff"></span>
                    <i class="fas fa-quote-left" style="font-size: 20px; color: #fff"></i>
                </div>
            </div>
            <div class="row" style="margin-top:40px;">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <span id="quote" style="color: #fff">Với những gì bạn sẽ nhận được sau khi học, mức đầu tư trên là vô cùng xứng đáng để bạn dành cho việc học của mình, vì học chưa bao giờ là phung phí cả. Kmin cũng là người đi học nên rất cảm thông với những bạn khó khăn về tài chính, phải đi làm thêm để trang trải cuộc sống. Với mình, vấn đề không nằm ở học phí, mà ở niềm đam mê và tinh thần ham học hỏi.</span>
                </div>
            </div>
            <div class="row" style="margin-top:30px;">
                <div class="col-sm-9"></div>
                <div class="col-sm-3">
                    <span id="writer" style="color: #fff">- Học viện KMIN -</span>
                </div>
            </div>
        </div>
    </section>
    <!-- END-THINK -->
    <section id="news">
        <div class="section-title">
            Tin nổi bật
        </div>
        <div class="my-container">
            <div class="my-col-2" style="margin-right: 5px;">
                <div class="dots">
                    <a class="dot1 dot-active" onclick="goToNews1(0)"></a>
                    <a class="dot1" onclick="goToNews1(1)"></a>
                    <a class="dot1" onclick="goToNews1(2)"></a>
                </div>
                <!-- NEWS 1 - 1 -->
                <span class="news1">
                    <img src="img/the-earth-is-5b1e94.jpg" alt="news1" class="news-image">
                    <div class="news-container">
                        <div class="type-background">
                            <span class="type">
                                Học tập
                            </span>
                        </div>
                        <div class="overlay">                        
                            <div class="text">
                                Lorem ipsum dolor sit amet, ne nec 
                            </div>
                            <div class="text2">
                                orem ipsum dolor sit amet, ne nec movet posidonium, quodsi ocurreret pro cu, quaeque singulis vis cu. Has summo tacimates pericula eu, pro movet delicata concludaturque eu. Te duo debet postulant intellegat, no atomorum reprimique philosophia his. Te sit nulla iusto hendrerit, pro an soluta everti aliquando. Id timeam diceret tractatos eam, vis no delicata praesent.
                            </div>
                        </div>
                    </div>
                </span>
                <!-- END NEWS 1 - 1 -->

                <!-- NEWS 1 - 2 -->
                <span class="news1" style="transform: translateX(-100%)">
                    <img src="img/banner.jpg" alt="news1" class="news-image">
                    <div class="news-container">
                        <div class="type-background">
                            <span class="type">
                                Awesome
                            </span>
                        </div>
                        <div class="overlay">                        
                            <div class="text">
                                Hello world
                            </div>
                            <div class="text2">
                                Tin tuc 2
                            </div>
                        </div>
                    </div>
                </span>
                <!-- END NEWS 1 - 2 -->

                <!-- NEWS 1 - 3 -->
                <span class="news1" style="transform: translateX(-100%)">
                    <img src="img/untitled.png" alt="news1" class="news-image">
                    <div class="news-container">
                        <div class="type-background">
                            <span class="type">
                                Awesome
                            </span>
                        </div>
                        <div class="overlay">                        
                            <div class="text">
                                Hello world
                            </div>
                            <div class="text2">
                                Tin tuc 3
                            </div>
                        </div>
                    </div>
                </span>
                <!-- END NEWS 1 - 3 -->
            </div>
            <div class="my-col-3">
                <div class="my-row-2">
                    <div class="my-col-1">
                        <div class="dots dots-mall">
                            <a class="dot2 dot-small dot-active" onclick="goToNews2(0)"></a>
                            <a class="dot2 dot-small" onclick="goToNews2(1)"></a>
                            <a class="dot2 dot-small" onclick="goToNews2(2)"></a>
                        </div>
                        <!-- NEWS 2 - 1 -->
                        <span class="news2">
                            <img src="img/the-earth-is-5b1e94.jpg" alt="news1" class="news-image">
                            <div class="news-container-small">
                                <div class="type-background type-background-small">
                                    <span class="type type-small">
                                        Học tập
                                    </span>
                                </div>
                                <div class="overlay overlay-small">                        
                                    <div class="text text-small">
                                        Lorem ipsum dolor sit amet, ne nec 
                                    </div>
                                    <div class="text2 text2-small">
                                        orem ipsum dolor sit amet, ne nec movet posidonium, quodsi ocurreret pro cu, quaeque singulis vis cu. Has summo tacimates pericula eu, pro movet delicata concludaturque eu. Te duo debet postulant intellegat, no atomorum reprimique philosophia his. Te sit nulla iusto hendrerit, pro an soluta everti aliquando. Id timeam diceret tractatos eam, vis no delicata praesent.
                                    </div>
                                </div>
                            </div>
                        </span>
                        <!-- END NEWS 2 - 1 -->
                        <!-- NEWS 2 - 2 -->
                        <span class="news2" style="transform: translateX(-100%)">
                            <img src="img/untitled.png" alt="news1" class="news-image">
                            <div class="news-container-small">
                                <div class="type-background type-background-small">
                                    <span class="type type-small">
                                        Thu Thach
                                    </span>
                                </div>
                                <div class="overlay overlay-small">                        
                                    <div class="text text-small">
                                        Lorem ipsum
                                    </div>
                                    <div class="text2 text2-small">
                                        orem ipsum dolor sit amet, ne nec movet posidonium, quodsi ocurreret pro cu, quaeque singul
                                    </div>
                                </div>
                            </div>
                        </span>
                        <!-- END NEWS 2 - 2 -->

                        <!-- NEWS 2 - 3 -->
                        <span class="news2" style="transform: translateX(-100%)">
                            <img src="img/untitled.png" alt="news1" class="news-image">
                            <div class="news-container-small">
                                <div class="type-background type-background-small">
                                    <span class="type type-small">
                                        Thu Thach
                                    </span>
                                </div>
                                <div class="overlay overlay-small">                        
                                    <div class="text text-small">
                                        Lorem ipsum
                                    </div>
                                    <div class="text2 text2-small">
                                        orem ipsum dolor sit amet, ne nec movet posidonium, quodsi ocurreret pro cu, quaeque singul
                                    </div>
                                </div>
                            </div>
                        </span>
                        <!-- END NEWS 2 - 3 -->
                    </div>
                    <div class="my-col-1">
                        <div class="dots dots-mall">
                            <a class="dot5 dot-small dot-active" onclick="goToNews5(0)"></a>
                            <a class="dot5 dot-small" onclick="goToNews5(1)"></a>
                            <a class="dot5 dot-small" onclick="goToNews5(2)"></a>
                        </div>
                        <!-- NEWS 5 - 1 -->
                        <span class="news5">
                            <img src="img/the-earth-is-5b1e94.jpg" alt="news1" class="news-image">
                            <div class="news-container-small">
                                <div class="type-background type-background-small">
                                    <span class="type type-small">
                                        Học tập
                                    </span>
                                </div>
                                <div class="overlay overlay-small">                        
                                    <div class="text text-small">
                                        Lorem ipsum dolor sit amet, ne nec 
                                    </div>
                                    <div class="text2 text2-small">
                                        orem ipsum dolor sit amet, ne nec movet posidonium, quodsi ocurreret pro cu, quaeque singulis vis cu. Has summo tacimates pericula eu, pro movet delicata concludaturque eu. Te duo debet postulant intellegat, no atomorum reprimique philosophia his. Te sit nulla iusto hendrerit, pro an soluta everti aliquando. Id timeam diceret tractatos eam, vis no delicata praesent.
                                    </div>
                                </div>
                            </div>
                        </span>
                        <!-- END NEWS 5 - 1 -->
                        <!-- NEWS 5 - 2 -->
                        <span class="news5" style="transform: translateX(-100%)">
                            <img src="img/untitled.png" alt="news1" class="news-image">
                            <div class="news-container-small">
                                <div class="type-background type-background-small">
                                    <span class="type type-small">
                                        Thu Thach
                                    </span>
                                </div>
                                <div class="overlay overlay-small">                        
                                    <div class="text text-small">
                                        Lorem ipsum
                                    </div>
                                    <div class="text2 text2-small">
                                        orem ipsum dolor sit amet, ne nec movet posidonium, quodsi ocurreret pro cu, quaeque singul
                                    </div>
                                </div>
                            </div>
                        </span>
                        <!-- END NEWS 5 - 2 -->

                        <!-- NEWS 5 - 3 -->
                        <span class="news5" style="transform: translateX(-100%)">
                            <img src="img/untitled.png" alt="news1" class="news-image">
                            <div class="news-container-small">
                                <div class="type-background type-background-small">
                                    <span class="type type-small">
                                        Thu Thach
                                    </span>
                                </div>
                                <div class="overlay overlay-small">                        
                                    <div class="text text-small">
                                        Lorem ipsum
                                    </div>
                                    <div class="text2 text2-small">
                                        orem ipsum dolor sit amet, ne nec movet posidonium, quodsi ocurreret pro cu, quaeque singul
                                    </div>
                                </div>
                            </div>
                        </span>
                        <!-- END NEWS 5 - 3 -->
                    </div>
                </div>
                <div class="my-row-2">
                    <div class="my-col-1">
                        <div class="dots dots-mall">
                            <a class="dot3 dot-small dot-active" onclick="goToNews3(0)"></a>
                            <a class="dot3 dot-small" onclick="goToNews3(1)"></a>
                            <a class="dot3 dot-small" onclick="goToNews3(2)"></a>
                        </div>
                        <!-- NEWS 3 - 1 -->
                        <span class="news3">
                            <img src="img/the-earth-is-5b1e94.jpg" alt="news1" class="news-image">
                            <div class="news-container-small">
                                <div class="type-background type-background-small">
                                    <span class="type type-small">
                                        Học tập
                                    </span>
                                </div>
                                <div class="overlay overlay-small">                        
                                    <div class="text text-small">
                                        Lorem ipsum dolor sit amet, ne nec 
                                    </div>
                                    <div class="text2 text2-small">
                                        orem ipsum dolor sit amet, ne nec movet posidonium, quodsi ocurreret pro cu, quaeque singulis vis cu. Has summo tacimates pericula eu, pro movet delicata concludaturque eu. Te duo debet postulant intellegat, no atomorum reprimique philosophia his. Te sit nulla iusto hendrerit, pro an soluta everti aliquando. Id timeam diceret tractatos eam, vis no delicata praesent.
                                    </div>
                                </div>
                            </div>
                        </span>
                        <!-- END NEWS 3 - 1 -->
                        <!-- NEWS 3 - 2 -->
                        <span class="news3" style="transform: translateX(-100%)">
                            <img src="img/untitled.png" alt="news1" class="news-image">
                            <div class="news-container-small">
                                <div class="type-background type-background-small">
                                    <span class="type type-small">
                                        Thu Thach
                                    </span>
                                </div>
                                <div class="overlay overlay-small">                        
                                    <div class="text text-small">
                                        Lorem ipsum
                                    </div>
                                    <div class="text2 text2-small">
                                        orem ipsum dolor sit amet, ne nec movet posidonium, quodsi ocurreret pro cu, quaeque singul
                                    </div>
                                </div>
                            </div>
                        </span>
                        <!-- END NEWS 3 - 2 -->
                        <!-- NEWS 3 - 2 -->
                        <span class="news3" style="transform: translateX(-100%)">
                            <img src="img/untitled.png" alt="news1" class="news-image">
                            <div class="news-container-small">
                                <div class="type-background type-background-small">
                                    <span class="type type-small">
                                        Thu Thach
                                    </span>
                                </div>
                                <div class="overlay overlay-small">                        
                                    <div class="text text-small">
                                        Lorem ipsum
                                    </div>
                                    <div class="text2 text2-small">
                                        orem ipsum dolor sit amet, ne nec movet posidonium, quodsi ocurreret pro cu, quaeque singul
                                    </div>
                                </div>
                            </div>
                        </span>
                        <!-- END NEWS 3 - 2 -->
                    </div>
                    <div class="my-col-1">
                        <div class="dots dots-mall">
                            <a class="dot4 dot-small dot-active" onclick="goToNews4(0)"></a>
                            <a class="dot4 dot-small" onclick="goToNews4(1)"></a>
                            <a class="dot4 dot-small" onclick="goToNews4(2)"></a>
                        </div>
                        <!-- NEWS 4 - 1 -->
                        <span class="news4">
                            <img src="img/the-earth-is-5b1e94.jpg" alt="news1" class="news-image">
                            <div class="news-container-small">
                                <div class="type-background type-background-small">
                                    <span class="type type-small">
                                        Học tập
                                    </span>
                                </div>
                                <div class="overlay overlay-small">                        
                                    <div class="text text-small">
                                        Lorem ipsum dolor sit amet, ne nec 
                                    </div>
                                    <div class="text2 text2-small">
                                        orem ipsum dolor sit amet, ne nec movet posidonium, quodsi ocurreret pro cu, quaeque singulis vis cu. Has summo tacimates pericula eu, pro movet delicata concludaturque eu. Te duo debet postulant intellegat, no atomorum reprimique philosophia his. Te sit nulla iusto hendrerit, pro an soluta everti aliquando. Id timeam diceret tractatos eam, vis no delicata praesent.
                                    </div>
                                </div>
                            </div>
                        </span>
                        <!-- END NEWS 4 - 1 -->
                        <!-- NEWS 4 - 2 -->
                        <span class="news4" style="transform: translateX(-100%)">
                            <img src="img/untitled.png" alt="news1" class="news-image">
                            <div class="news-container-small">
                                <div class="type-background type-background-small">
                                    <span class="type type-small">
                                        Thu Thach
                                    </span>
                                </div>
                                <div class="overlay overlay-small">                        
                                    <div class="text text-small">
                                        Lorem ipsum
                                    </div>
                                    <div class="text2 text2-small">
                                        orem ipsum dolor sit amet, ne nec movet posidonium, quodsi ocurreret pro cu, quaeque singul
                                    </div>
                                </div>
                            </div>
                        </span>
                        <!-- END NEWS 4 - 2 -->
                        <!-- NEWS 4 - 3 -->
                        <span class="news4" style="transform: translateX(-100%)">
                            <img src="img/banner.jpg" alt="news1" class="news-image">
                            <div class="news-container-small">
                                <div class="type-background type-background-small">
                                    <span class="type type-small">
                                        Thu Thach
                                    </span>
                                </div>
                                <div class="overlay overlay-small">                        
                                    <div class="text text-small">
                                        Lorem ipsum
                                    </div>
                                    <div class="text2 text2-small">
                                        orem ipsum dolor sit amet, ne nec movet posidonium, quodsi ocurreret pro cu, quaeque singul
                                    </div>
                                </div>
                            </div>
                        </span>
                        <!-- END NEWS 4 - 3 -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END-NEWS-->
    <section id="camnhan" style="background: #fff">
        <div class="section-title" style="margin: 100px 0 0 0">
            Người ta nói
        </div>
        <div class="container">
            <div class="owl-carousel owl-theme owl-loaded">
                <div class="owl-stage-outer">
                    <div class="owl-stage">
                        <div class="owl-item">
                            <p class="hinhdaidien text-center"><img class="" src="img/avata-background-white-women.jpg" style="width: auto;"></p>
                            <p class="ten text-center">Ngọc Ngọc</p>
                            <p class="comment" style="text-align: center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                        <div class="owl-item">
                            <p class="hinhdaidien text-center"><img class="" src="img/avata-background-white.jpg" style="width: auto;" alt=""></p>
                            <p class="ten text-center">Bảo Bảo</p>
                            <p class="comment"  style="text-align: center">Học ở đây quá vui</p>
                        </div>
                    </div>
                </div>
                <div class="owl-nav">
                    <div class="owl-prev"><i class="fas fa-angle-left"></i></div>
                    <div class="owl-next"><i class="fas fa-angle-right"></i></div>
                    <div class="line"></div><i class="fas fa-quote-left icon_quote"></i>
                </div>
            </div>
        </div>
    </section>
    <!-- END-NGUOI-TA-NOI -->
    <section id="kmin-schools">
        <div>
            <div class="section-title">
                Học viên của chúng tôi đến từ
            </div>
            <img src="img/schools.svg" style="width: 65%; height: auto;">
        </div>
    </section>
    <!-- END - SCHOOLS -->
    <section id="footer">
        <div class="container">
            <div class="title d-flex py-5">
                <img class="logo" src="img/KminLogo.png" alt="">
                <h2>HỌC VIỆN KHOA HỌC MÁY TÍNH KMIN</h2>
            </div>
            <div class="row bakhoi">
                <div class="col-md-3 khoi1">
                    <h5><a href="#">Các khóa học sắp khai giảng</a></h5>
                    <p class="ml-1"><a href="#">Tư duy và kỹ năng lập trình 11</a></p>
                    <p class="ml-1"><a href="#">Tư duy và kỹ năng lập trình 11</a></p>
                    <p class="ml-1"><a href="#">Tư duy và kỹ năng lập trình 11</a></p>
                </div>
                <div class="col-md-5 khoi2">
                    <h5 class="chiase"><a href="#">Chia sẽ tài liệu</a></h5>
                    <a href="#">
                        <div class="row tin1">
                            <div class="col-4">
                                <img class="img-tailieu" src="img/banner.jpg" alt="">
                            </div>
                            <div class="col-8">
                                <h5 class="title">Lập trình C++ căn bản</h5>
                                <p class="date_container"><span>Học viện Kmin</span><span class="date"> - 01/01/2018</span></p>
                            </div>

                        </div>
                    </a>
                    <div class="line"></div>
                    <a href="#">
                        <div class="row tin2">
                            <div class="col-4">
                                <img class="img-tailieu" src="img/banner.jpg" alt="">
                            </div>
                            <div class="col-8">
                                <h5 class="title">Lập trình C++ căn bản</h5>
                                <p class="date_container"><span>Học viện Kmin</span><span class="date"> - 01/01/2018</span></p>
                            </div>   
                        </div>
                    </a>
                </div>
                <div class="col-md-4 px-4 khoi3">
                    <h5 class="title1 mb-4"><a href="#">Liên hệ</a></h5>
                    <p class="pl-5"><i class="fab fa-facebook-square"></i><a href="#">fb.com/hocvienkmin</a></p>
                    <p class="pl-5"><i class="fas fa-globe-asia"></i><a href="#">kmin.edu.vn</a></p>
                    <p class="pl-5"><i class="fas fa-phone-volume"></i><a href="tel:01684004298">0168 4004 298</a></p>
                    <p class="pl-5"><i class="fab fa-youtube"></i><a href="#">www.youtube.com</a></p>
                    <h5 class="title2 mb-4"><a href="#">Địa chỉ</a></h5>
                    <p class="pl-5"><i class="fas fa-map-marked-alt"></i><a href="#">(Cơ sở 1) 368/29 Lê Hồng Phong,p.1,q.10</a></p>
                    <p class="pl-5"><i class="fas fa-map-marked-alt"></i><a href="#">(Cơ sở 1) 368/29 Lê Hồng Phong,p.1,q.10</a></p>
                </div>
            </div>
        </div>
    </section>
<!-- END FOOTER -->
</body>
<!-- Tuan's Library -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/Popper.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<!-- Custom -->
<script src="js/main.js"></script>
<script type="text/javascript">
    $(window).on('load', function(){
        $(".loader").fadeOut("slow");
    });
</script>
</html>