* {
}

#header:after{
	content: "";
	display: block;
	clear: both;
}

.logo {
	width: 120px;
}

#footer{
	background: #1a1a1a;
	padding-bottom: 60px
}
#footer .title img{
	width: 170px;
	height: 100px;
}
#footer .title h2{
	padding: 30px 10px;
	font-weight: bold;
	color: white;
	font-size: 30px;
}
#footer .bakhoi .khoi1{
	padding-top: 50px;
	padding-bottom: 50px;
	border-right: 1px solid white;
}
#footer .bakhoi .khoi1 h5{
	padding-bottom: 30px;
	margin-left: -24px;
}
#footer .bakhoi .khoi1 h5 a{
	color: #ff99cc;
}
#footer .bakhoi .khoi1 a{
	color: white;
}
#footer .bakhoi .khoi2{
	border-right: 1px solid white;
}
#footer .bakhoi .khoi2 .img-tailieu{
	width: 100%;
	height: 100px;
}
#footer .bakhoi .khoi2 .chiase{
	margin-bottom: 20px;
	margin-left: 10px;
}
#footer .bakhoi .khoi2 .chiase a{
	color:#ffff99;
}
#footer .bakhoi .khoi2 .tin1{
	padding-bottom: 20px;
	padding-left: 10px;
}
#footer .bakhoi .khoi2 .tin2{
	padding-top: 20px;
	padding-left: 10px;
}
#footer .bakhoi .khoi2 .line{
	background: white;
	height: 1px;
	width: 90%;
	margin-left: -15px;
}
#footer .bakhoi a{
	text-decoration: none;
}
#footer .bakhoi .khoi2 .title{
	font-size: 20px;
	color: white;
}
#footer .bakhoi .khoi2 .date_container{
	color: white;
	font-size: 15px;
}
#footer .bakhoi .khoi3 .title1 a{
	color: #ccccff;
	font-size: 20px;
}
#footer .bakhoi .khoi3 .title2{
	padding-top: 20px;
}
#footer .bakhoi .khoi3 .title2 a{
	color: #99ff99;
	font-size: 20px;
}
#footer .bakhoi .khoi3 p{
	color: white;
	font-size: 15px;
}
#footer .bakhoi .khoi3 p a{
	padding-left: 4px;
	color: white;
	font-size: 15px;
}
/* END footer */


/* hello */
body{
    width: 100%;
    padding: 0;
    margin: 0;
}
@font-face{
    font-family: amerika;
    src: url("../font/UTM Amerika Sans.ttf");
}

@font-face{
    font-family: avo;
    src: url("../font/UTM Avo.ttf");
}

@font-face{
    font-family: iron-gothic;
    src: url("../font/UTM Iron Gothic.ttf");
}

/********** BACKGROUND VIDEO **********/

#bg-video{
    position: absolute;
    right: 0;
    top: 70px;
    width: 100%;
}

#overlay-video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.contain{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.text-on-video .text1{
    color: #fff;
    display: block;
    font-family: avo;
    font-size: 1.5vw;
    text-align: center;
    width: 100%;
}

.text-on-video .text-2{
    font-family: iron-gothic;
    font-size: 4vw;
    color: #fff;
    text-align: center;
    width: 100%;
    display: block;
    margin-top: 20px;
    transform: scale(2, .9);
}

.text-on-video .text3{
    font-family: avo;
    font-size: 1.2vw;
    color: #fff;
    text-align: center;
    width: 100%;
    display: block;
    margin-top: 1vh;
}

#bending-text{
    font-family: amerika !important;
    font-size: 3vw;
    color: #fff;
    display: block;
}

.text-on-video{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align:center;
    z-index: 10;
}

.text-on-video a{
    font-family: avo;
    margin: 40px 10px 0 10px;
    width: 200px;
    display: inline-block;
    text-decoration: none;
    border-radius: 4px;
    padding: 10px 0px;
    text-align: center;
    font-size: 14px;
}

.text-on-video a:hover{
    text-decoration: none;
}


.redirect-classes{
    color: #fff;
    border: 1px solid #fff;
    transition: 0.3s ease-out;
}

.redirect-classes:hover{
    color: #3366cc;
    background: #fff;
    transition: 0.3s ease-out;
}

.redirect-product{
    color: #fff;
    border: 1px solid #3366cc;
    background: #3366cc;
    transition: 0.3s ease-out;
}

.redirect-product:hover{
    color: #fff;
    border: 1px solid #5c92fd;
    background: #5c92fd;
    transition: 0.3s ease-out;
}

#arrow1, #arrow2, #arrow3{
    border-left: 2px solid rgba(255, 255, 255, 0.8);
    border-top: 2px solid rgba(255, 255, 255, 0.8);
    left: 50%;
    transform: translateX(-50%) rotate(225deg);
}

#arrow1{
    width: 10px;
    height: 10px;
    opacity: 0;
    animation: arrow1 1s linear infinite;
}

#arrow2{
    width: 15px;
    height: 15px;
    opacity: 0;
    animation: arrow2 1s linear infinite;
}

#arrow3{
    width: 20px;
    height: 20px;
    opacity: 0;
    animation: arrow3 1s linear infinite;
}

.arrow-content{
    padding-left: 50%;
    width: 100%;
    margin-top: 30%;
}

@keyframes arrow3{
    0%      {opacity: 0;}
    66%     {opacity: 0.5}
    80%     {opacity: 1;}
    100%    {opacity: 0;}
}

@keyframes arrow2{
    0%      {opacity: 0;}
    33%     {opacity: 1;}
    75%     {opacity: 0;}
}

@keyframes arrow1{
    0%      {opacity: 1;}
    70%     {opacity: 0;}
}

/********** TIN TỨC **********/

.title{
    display: inline-block;
    width: 100%;
    text-align: center;
    font-family: avo;
    font-size: 40px;
    color: #333;
    margin-bottom: 60px;
}

.my-container, .my-col-2, .my-row-2, .my-col-1{
    box-sizing: border-box;
}

.my-container{
    width: 100%;
    padding: 0 0 0 10px;
    display: flex;
    margin: 0;
    height: auto;
    margin-top: 60px;
    padding-left: 15px;
}

.my-container::after{
    clear: both;
    display: block;
    content: "";
}

.my-col-2, .my-col-3{
    position: relative;
    float: left;
    width: 50%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    height: 500px;
}

.my-col-2{
    background: #000;
}

.my-col-1{
    position: relative;
    float: left;
    width: 48%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    margin-right: 5px;
    background: #000;
}


.my-row-2{
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.news-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80%;
    box-sizing: border-box;
}

.news-container-small {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80%;
    box-sizing: border-box;
}
  
.news-image {
    width: 100%;
    overflow: hidden;
}
  
.overlay {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    width: 100%;
    height: 40%;
    transition: 0.5s ease;
    padding: 4vh;
}

.overlay-small {
    padding: 2vh;
    height: 39%;
    width: 100%;
}
  
.news-container:hover .overlay, .news-container-small:hover .overlay {
    height: 100%;
    background-color:#6699ff;
    transition: 0.4s ease-out;
}

.news-container:hover .text2, .news-container-small:hover .text2 {
    opacity: 1;
    transition: 1s ease-out;
}
  
.text {
    color: white;
    font-size: 2vw;
    font-family: avo;
}

.text-small {
    font-size: 1vw;
}

.text2{
    text-align: justify;
    box-sizing: border-box;
    width: 100%;
    margin-top: 4vh;
    color: white;
    font-size: 1vw;
    font-family: avo;
    opacity: 0;
    overflow: hidden;
    text-overflow: clip;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5; /* number of lines to show */
    line-height: 14px;        /* fallback */
    max-height: 70px;    
    transition: 1s;
}

.text2-small{
    width: 100%;
    margin-top: 1vh;
    font-size: 0.7vw;
    line-height: 11px;        /* fallback */
    max-height: 55px;
}


.type-background{
    border-radius: 4px;
    text-align: center;
    position: absolute;
    background: #ff0033;
    bottom: 40%;
    width: 120px;
    height: 30px;
    margin-left: 10px;
    font-family: avo;
    box-shadow: 0px 4px 20px #333;
    transition: 0.6s;
}

.type-background-small{
    bottom: 40%;
    height: 20px;
    width: 90px;
    margin-left: 10px;
}

.news-container:hover .type-background, .news-container-small:hover .type-background-small {
    bottom: 100%;
    transition: 0.6s;
}

.type{
    width: 100%;
    font-weight: bold;
    text-align: center;
    color: #fff;
    font-size: 12px;
}

.type-small{
    position: absolute;
    font-size: 10px;
    top: 2px;
    left: 0;
}

.dots{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100;
}

.dots-small{
    top: -10px;
    left: 0;
}

.dot1, .dot2, .dot3, .dot4, .dot5{
    display: inline-block;
    border:none;
    border-radius: 50%;
    width: 1vw;
    height: 1vw;
    background: #fff;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
}

.dot-small{
    width: .5vw;
    height: .5vw;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
}


.dot-active{
    background: tomato;
}

.hide{
    display: none;
}

.news1, .news2, .news3, .news4, .news5{
    position: absolute;
    display: block;
    animation-fill-mode: forwards;
    width: 100%;
    height: 100%;
}

@keyframes slideLeft{
    0%      {transform: translateX(100%);}
    100%    {transform: translate(0); display: block;}
}

@keyframes slideLeftAfter{
    0%      {transform: translateX(0); }
    100%    {transform: translateX(-100%); display: block;}
}

@keyframes slideUp{
    0%      {transform: translateY(0);}
    94%     {display: none;}
    100%    {transform: translateY(-140%);}
}

.line{
	display: inline-block;
	width: 200px;
	height: 2px;
	background: rgb(56, 56, 56);
}

.fa-quote-left{
	transform: translate(4px, 5px);
}

#kmin-quote #quote, #kmin-think #quote{
	text-align: justify;
	font-size: 25px;
	color: rgb(58, 58, 58);
}

#kmin-quote #writer, #kmin-think #writer{
	font-size: 15px;
	font-style: italic;
	color: rgb(110, 110, 110);
}

.section-title{
	margin: 60px 0 40px 0;
	font-size: 30px;
	color: rgb(41, 41, 41);
	text-align: center;
}

#open-classes{
	margin-top: 40px;
	padding: 20px;
	padding-bottom: 100px;
	background-image: linear-gradient(to right, rgba(189, 176, 247, 0.26), rgba(227, 220, 255, 0.26), rgba(227, 220, 255, 0.26) ,rgba(189, 176, 247, 0.26));
	box-shadow: 0px 15px 40px -20px rgba(0,0,0,0.4);
}

#open-classes .class .container-fluid{
	padding-bottom: 20px;
}

#open-classes .class img{
	width: 100%;
}

#open-classes .class-name, #open-classes .class-intro, #open-classes .class-view{
	margin-top: 15px;
	padding: 10px 20px;
}

#open-classes .class-name{
	font-size: 18px;
	font-weight: bold;
	margin-top: 20px;
}

#open-classes .class-intro{
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
	font-size: 16px;
	text-align: justify;
}

#open-classes .class-view a{
	text-align: center;
	padding: 10px;
	display: inline-block;
	width: 80%;
	border: none;
	text-decoration: none;
	background-image: linear-gradient(to right, rgb(85, 110, 250),  rgb(176, 85, 250));
	box-shadow: 0 5px 20px 4px rgba(199, 118, 185, 0);
	transition: .3s;
	color: #fff;
}

#open-classes .class-view a:hover{
	background-image: linear-gradient(to right, rgb(196, 139, 241), rgb(176, 85, 250), rgb(176, 85, 250),rgb(196, 139, 241));
	box-shadow: 0 12px 15px -6px rgba(122, 59, 117, 0.5);
}

.class-image{
	width: 100%;
	height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.class .container-fluid{
	background: #fff;
	box-shadow: 0 10px 20px -8px rgba(21, 20, 70, 0.616);
}

#kmin-earn .board{
	background-image: radial-gradient(circle, rgb(233, 233, 233), #fff);
}

#kmin-earn .sticky-note{
	padding: 30px;
	width: 70%;
	height: 300px;
	box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.7);
	transition: 0.4s;
}

.yellow{
	background: #ffec99;
	transform: translateX(25%) rotate(4deg);
}

.purple{
	background: #e69ee0;
	transform: translateX(25%) rotate(10deg);
}

.red{
	background: #ffc9ff;
	transform: translateX(25%) rotate(-7deg);
}

.blue{
	background: #96a7f1;
	transform: translateX(25%) rotate(-10deg);
}

.grey{
	background: #b1daa5;
	transform: translateX(25%) rotate(15deg);
}

#kmin-earn .sticky-note:hover{
	transform: translateX(25%) rotate(0deg) scale(1.2);
	box-shadow: 0 20px 20px -10px rgba(0, 0, 0, 0.8);
}

#kmin-earn .sticky-note:hover i{
	box-shadow: inset 0px 2px 4px 1px rgba(0, 0, 0, 0.5);
}

#kmin-earn .sticky-note span{
	font-size: 20px;
	font-weight: bold;
}
#kmin-earn .sticky-note p{
	font-size: 16px;
	color: #333;
	padding-top: 30px;
}

#kmin-earn .sticky-note i{
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 100px;
	background: #fff;
	margin-left: 20px;
	box-shadow: inset 2px -2px 4px 1px rgba(0, 0, 0, 0.2);
	transition: 0.4s;
}

#kmin-think .container-fluid{
	padding: 100px 30px;
    background: url("../img/course-bg.jpg") no-repeat fixed;
    background-size: cover;
    
}

#kmin-schools .section-title{
    height: auto;
    box-sizing: border-box;
    padding: 20px;
    margin: 20px 0 0 0;
    color: #fff;
    background-image: linear-gradient(to right, rgb(50, 91, 226), rgb(154, 178, 255), rgb(154, 178, 255), rgb(53, 86, 194));
}

#kmin-schools img{
    transform: translateX(25%);
}

/****** scrollbar style ******/
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #e8eaec; 
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #7b8993; 
    border-radius: 10px;
}

@media screen and (max-width:600px) {
    /* For mobile phones: */
    .my-col-2, .my-row-2, .my-col-3 {
        width: 100%;
    }

    .my-col-2, .my-row-2{
        margin-top: 10px;
    }

    .my-row-2{
        padding-left: 10px;
    }

    .text, .text-small {
        font-size: 14px;
    }

    .text2-small{
        font-size: 0.7vw;
        line-height: 11px;        /* fallback */
        max-height: 22px;
        -webkit-line-clamp: 2;
    }
    .text2, .text2-small{
        font-size: 12px;
    }

    .my-container{
        width: 100%;
        height: auto;
        overflow: visible;
        display: block;
        padding-left: 0;
        margin-top: 20px;
    }

    .title{
        font-size: 25px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 800px){
    .my-col-2, .my-col-3{
        height: 350px;
    }

    .my-row-2{
        height: 175px;
    }

    .my-container{
        margin-top: 30px;
        height: auto;
    }
}